/*
   CSS Reset:
   Including a CSS reset to normalize styles across different browsers and to ensure consistent rendering
   by removing default browser styles. This helps to start with a clean slate, avoiding unexpected
   styling variations that can occur between different browsers and devices.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* <!--
   Font Preconnect and Import:
   importing the Open Sans font family for use in the project, specifying font weights
   and styles as needed. 
--> */


body{
    font-family: 'open sans', sans-serif;
   
}

nav {
   background-color: #222;
   color: #c78c06;
}

nav ul{
    text-align: center;
    padding-top: 10px;
   

}
nav ul li{
    padding: 20px;
    font-size: 20px;
}
li:first-child{
    color: #222;
    height: 100px;
    padding-top: 40px;
    padding-bottom: 60px;
    background:#c78c06 url(photo/logo.png) no-repeat top left;
}







                                                /* welcome */



/* Welcome section styling: Utilizes flexbox for layout, background image for visual appeal, and styled heading, paragraph, and button for an inviting user experience. */

.welcome{
    display: flex;
    height: 350px;
    background-image: url(photo/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    
    
}
.welcome div{
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.576);
    color: white;
    
    
}
.welcome h1{
    font-size: 50px;
    font-weight: bold;
    padding: 50px 20px 30px 15px;
}
.welcome p{
    font-size: 12px;
    line-height: 1.5rcap;
    padding: 0px 20px 10px 15px;

}
.welcome button{
    width: 200px;
    height: 80px;
    color: #000;
    font-size: large;
    background-color: #c78c06;
    margin: 15px;
    border: none;
}






                                                  /* about */




/* About section styling: Utilizes flexbox for layout with a column direction, providing structure. Background color enhances readability. Styled heading with increased font size and bold weight for emphasis. Paragraphs have appropriate font size and line height for readability and spacing.  */

.about{
    display: flex;
    flex-direction: column;
    background-color: #ffe6ac;
    padding: 15px;
    
}
.about div{
    display: flex;
    flex-direction: column;
}
.about h1{
    
    font-size: 40px;
    margin-top: 20;
    margin-bottom: 20px;
    font-weight: bold;

}
.about p{
    font-size: 10px;
    line-height: 1.5;
    margin-top: 10px;
}


                                             /* our servises */




.servis{
    font-size: 40px;
    padding: 15px;
    margin-top: 20px;
    font-weight: bold;
}



                                                 /* digital */  



/* <!--

    - '.digital' class sets the display to flex and the flex-direction to column, ensuring vertical alignment
      of its contents.
    - '.transform' class also utilizes flexbox properties for vertical alignment and adds margin and background
      color for styling.
    - '.transform h1' and '.transform p' style the heading and paragraph with padding and font sizes, ensuring
      readability.
    - '.transform button' styles the call-to-action button with specific colors, dimensions, and margins for
      visual appeal.

--> */


.digital{
    display: flex;
    flex-direction: column;
}

.transform{
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: #ffe6ac;
}
.transform h1{
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
.transform p{
    padding: 10px;
    font-size: 12px;
    line-height: 20px;
}
.transform button{
    background-color: black;
    color: white;
    font-size: 17px;
    border: 0;
    width: 170px;
    height: 70px;
    margin: 10px;
}






                                              /* marketing */






/* Marketing section styling: Utilizes flexbox with a column direction for layout. Each market item container has margin for spacing and background color for distinction. /
/ Styled heading with padding, increased font size, and bold weight for emphasis. Paragraphs have padding, appropriate font size, and line height for readability. Button styling for contrast, with defined width, height, and margin for consistency. */


.maketing{
    display: flex;
    flex-direction: column;
}

.market{
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: #ffe6ac;
}
.market h1{
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}
.market p{
    padding: 10px;
    font-size: 12px;
    line-height: 20px;
}
.market button{
    background-color: black;
    color: white;
    font-size: large;
    padding: auto;
    border: 0;
    width: 220px;
    height:80px;
    margin: 10px;
}





                                             /* video */




 /* Video section styling: Utilizes flexbox with a column direction for layout. Each production item container has margin for spacing and background color for distinction. /
/ Styled heading with padding, appropriate font size, and bold weight for emphasis. Paragraphs have padding, appropriate font size, and line height for readability. Button styling for contrast, with defined width, height, and margin for consistency.  */
                                             

                                             
.video{
    display: flex;
    flex-direction: column;
}

.production
{
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: #ffe6ac;
}
.production h1{
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
.production p{
    padding: 10px;
    font-size: 12px;
    line-height: 20px;
}
.production button{
    background-color: black;
    color: white;
    font-size: 17px;
    border: 0;
    width: 170px;
    height: 70px;
    margin: 10px;
}




                                               /* web */




 /* Web section styling: Utilizes flexbox with a column direction for layout. Each development item container has margin for spacing and background color for distinction. /
/ Styled heading with padding, appropriate font size, and bold weight for emphasis. Paragraphs have padding, appropriate font size, and line height for readability. Button styling for contrast, with defined width, height, and margin for consistency. */


.web{
    display: flex;
    flex-direction: column;
}

.development{
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: #ffe6ac;
}
.development h1{
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
.development p{
    padding: 10px;
    font-size: 12px;
    line-height: 20px;
}
.development button{
    background-color: black;
    color: white;
    font-size: 17px;
    border: 0;
    width: 170px;
    height: 70px;
    margin: 10px;
}




                                              /* print */



 /* Print section styling: Utilizes flexbox with a column direction for layout. Each paper item container has margin for spacing and background color for distinction. /
/ Styled heading with padding, appropriate font size, and bold weight for emphasis. Paragraphs have padding, appropriate font size, and line height for readability. Button styling for contrast, with defined width, height, and margin for consistency.                                           */
                                              
.print{
    display: flex;
    flex-direction: column;
}

.paper{
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: #ffe6ac;
}
.paper h1{
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
.paper p{
    padding: 10px;
    font-size: 12px;
    line-height: 20px;
}
.paper button{
    background-color: black;
    color: white;
    font-size: 17px;
    border: 0;
    width: 170px;
    height: 70px;
    margin: 10px;
}