/*
   CSS Reset:
   Including a CSS reset to normalize styles across different browsers and to ensure consistent rendering
   by removing default browser styles. This helps to start with a clean slate, avoiding unexpected
   styling variations that can occur between different browsers and devices.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* <!--
   Font Preconnect and Import:
   importing the Open Sans font family for use in the project, specifying font weights
   and styles as needed. 
--> */


body{
    font-family: 'open sans', sans-serif;
   
}

nav {
   background-color: #222;
   color: #c78c06;
}

nav ul{
    margin: 10px;
    text-align: center;
    padding-top: 10px;
   

}
nav ul li{
    padding: 20px;
    font-size: 20px;
}
li:first-child{
    color: #222;
    height: 100px;
    padding-top: 40px;
    padding-bottom: 60px;
    background:#c78c06 url(photo/logo.png) no-repeat top left;
}







/* welcome */
.welcome{
    background-image: url(photo/main-banner.jpg);
    background-size: cover;
    height: 500px;

}
.welcome  h1{
    font-size: 10vw;
}
.welcome div{
    background-color: #222;
    opacity: 80%;
}






/* about */


/* <!--
    - Sets the background color of the section to a light yellow (#ffe6ac) with padding.
    - Fixes the height of the section to 600 pixels.
    - Ensures the image within the section spans the full width of its container.
    - Styles the heading with a large font size, bold weight, and adjusts the margin.
    - Defines a specific height and line height for paragraphs, along with margin adjustments and font size.
--> */



.about{
    background-color: #ffe6ac;
    padding: 15px;
    height: 400px;
}
.about img{
    width: 100%;
}
.about h1{
    font-size: 7vw;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.about p{
    height: 60px;
    line-height: 130%;
    /* margin-top: 20px; */
    font-size: 12px;
}



/* our servises */




.servis{
    font-size: 40px;
    padding: 15px;
    margin-top: 20px;
    font-weight: bold;
}



                                           /* digital */  



/* <!--

    - '.digital' class sets the display to flex and the flex-direction to column, ensuring vertical alignment
      of its contents.
    - '.transform' class also utilizes flexbox properties for vertical alignment and adds margin and background
      color for styling.
    - '.transform h1' and '.transform p' style the heading and paragraph with padding and font sizes, ensuring
      readability.
    - '.transform button' styles the call-to-action button with specific colors, dimensions, and margins for
      visual appeal.

--> */


.digital{
    display: flex;
    flex-direction: column;
}

.transform{
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: #ffe6ac;
}
.transform h1{
    padding: 10px;
    font-size: large;
    font-weight: bold;
}
.transform p{
    padding: 10px;
    font-size: 12px;
    line-height: 20px;
}
.transform button{
    background-color: black;
    color: white;
    font-size: large;
    padding: auto;
    border: 0;
    width: 150px;
    height: 50px;
    margin: 10px;
}




/* marketing */




/* <!--
   
    - '.marketing' class sets the background color to white, adds padding, and fixes the height.
    - '.marketing img' ensures the image spans the full width.
    - '.marketing h1' styles the heading with a font size based on viewport width, bold weight, and padding.
    - '.market p' sets a specific height, line height, font size, and padding for paragraphs.
    - '.market' class styles the background color and fixes the height.
    - '.market button' styles the call-to-action button with specific colors, dimensions, font size, padding,
      and margin.
--> */


.marketing{
    background-color: white;
    padding: 15px;
    height: 725px;
}
.marketing img{
    width: 100%;
}
.marketing h1{
    font-size: 5vw;
    margin-top: 20px;
    font-weight: bold;
    padding: 15px;
}
.market p{
    height: 70px;
    line-height: 25px;
    font-size: 15px;
    padding: 15px;
    line-height: 20px;
    
}
.market{
    background-color: #ffe6ac;
    height: px;
}

.market button{
    background-color: black;
    color: white;
    width: 200px;
    height: 80px;
    font-size: 20px;
    padding: 15px;
    margin-bottom: 15;
    margin-left: 15px;
    border: none;
}

